.playlistTitle_container {
    // border: 1px solid red;
    margin-bottom: 1rem;

    form {
        display: flex;
        justify-content: space-between;

        input {

            width: 60%;
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            border-radius: 1rem;
        }

        button {
            border: 2px solid #FFF;
            border-radius: 1rem;
            background-color: #121212;
            color: #FFF;
            padding: 0.5rem 1rem;

            &:hover,
            &:focus {
                cursor: pointer;
                color: #121212;
                background-color: #FFF;
                transition: background-color 0.3s;
            }
        }
    }
}