@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family: "Dosis", sans-serif;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app_wrapper {
  height: 100%;
  flex: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app_container {
  align-self: center;
  display: flex;
  justify-content: center;

  padding: 2rem 1rem;
  gap: 2rem;

  max-width: 1200px;
  width: 1000px;
  
}

